<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653179736812-hmk2u1tncche5tteh29qvjfvj7n29u56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653179736812-hmk2u1tncche5tteh29qvjfvj7n29u56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653179736812-g8gf7r7sm35m3iud96v0n6v4u6c2n2l9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8n4psHHMw1uZfgVsOAU0mEbRns_eEbSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>653179736812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jameel.kwayes</string>
	<key>PROJECT_ID</key>
	<string>kwayes-a3377</string>
	<key>STORAGE_BUCKET</key>
	<string>kwayes-a3377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653179736812:ios:77726f8a5898935d4a8bc9</string>
</dict>
</plist>